<center>
<table summary='book detail view'>
  <tr>
    <th>title</th>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <th>author</th>
    <td><%= @book.author %></td>
  </tr>
  <tr>
    <th>price</th>
    <td><%= @book.price %></td>
  </tr>
  <tr>
    <th>date published</th>
    <td><%= @book.published %></td>
  </tr>
</table>
<%= form_for(@book, :method => 'delete') do |form| %>
<%= form.submit('delete book') %>
<br>
<%= link_to 'Back', books_path %>
</br>
 <% end %>
 </center>
